@import "../mixins/utils";
@import "../mixins/constants";

.#{$projectName}-modal-overlay {
  @include flex-container(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, .5);

  $primaryClsName: #{$projectName}-modal-window;

  .#{$primaryClsName} {
    @include flex-container(column, center, center);

    position: relative;
    max-width: rem(950px);
    width: rem(500px);
    background: #546575;
    color: $primaryWhite;

    .#{$primaryClsName}-header {
      @include flex-container(row, space-between, center);
      height: rem(57px);
      width: 100%;
      background-color: #485663;

      .#{$primaryClsName}-header-title {
        font-size: rem(18px);
        margin-left: rem(20px);
      }

      .#{$primaryClsName}-header-close {
        @include get-image("icon_close-small.svg");
        @include set-icon-size(12px, 12px);
        margin-right: rem(20px);
        cursor: pointer;
      }
    }

    .#{$primaryClsName}-body {

      .#{$primaryClsName}-body-input {
        @include flex-container(row, space-around, center);
        padding-top: rem(18px);
        .#{$primaryClsName}-body-input-label {
          width: rem(56px);
          margin-right: rem(20px);
          text-align: right;
          font-size: rem(14px);
        }

        .#{$primaryClsName}-body-input-input {
          @include input-reset();
          width: rem(376px);
          margin-right: rem(20px);
          height: rem(40px);
          padding-left: rem(18px);
        }

        .#{$primaryClsName}-body-input-disabled {
          background-color: $disabledColor;
        }
      }

      .#{$primaryClsName}-body-desc {
        width: rem(376px);
        font-size: rem(14px);
        margin-top: rem(8px);
        margin-left: 16%;
      }

    }

    .#{$primaryClsName}-footer {
      @include flex-container(row, flex-end, center);
      height: rem(57px);
      width: 100%;
      background-color: #485663;
      margin-top: rem(22px);

      .#{$projectName}-button-standard-grey {
        margin-right: rem(5px);
      }

      .#{$projectName}-button-standard-orange {
        margin-right: rem(20px);
      }

    }

  }

}